/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Magento responsive theme style starts here: by @RichardCarter */
a, a:link {color: #333}
a:active, a:hover {text-decoration: none}
a:visited {opacity: 0.8}
body {
background: #EFEFEF;
font: normal 80%/150% Arial, Helvetica, sans-serif;
}
h1 {
font-size: 150%;
}
h2 {
font-size: 125%;
}
h3 {
font-weight: bold;
}
.page {
background: #fff;
border-radius: 10px;
margin: 10px auto;
padding: 10px;
max-width: 1080px;
}
.footer-container {
clear: both
}
img, 
img[height], 
img[width]{
height: auto; /* You may need to use !important here to ensure this rule overwrites any others */
max-width: 100%; /* You may need to use !important here to ensure this rule overwrites any others */
} 
.main {
clear: both
}
.breadcrumbs li {
color: #777;
display: inline;
}
	.breadcrumbs a {
	color:#777;
	}
	
.quick-access {
	color: #777;
	text-align: right;
}
	.quick-access a {
		color: #777;
	}
.quick-access .links, .footer ul {
list-style-type: none;
}
.quick-access .links li, .footer ul li {
display: inline;
}
.footer {
background: #333;
border-radius: 10px;
color: #fff;
clear: both;
padding: 10px;
text-align: center;
}
.footer a {
color: #fff;
}
.nav-container {
clear: both;
}
.mobile-hide {
/*display: none; Un-comment this line if you want to use the simple "skip to footer" navigation style */
}
.mobile-nav {
background: #EFEFEF url("../images/mobile-nav.png") no-repeat 10px center;
border: 1px #CCC solid;
border-radius: 5px;
color: #333;
display: none; /* Hide this line if you want to use the simple "skip to footer" navigation style */
/*display: block; Un-comment this line if you want to use the simple "skip to footer" navigation style */
padding: 5px 5px 5px 45px;
}
.mobile-nav:hover {
text-decoration: none;
}
.mobile-footer-nav {
background: #EFEFEF;
clear: both;
display: none; /* Hide this line if you want to use the simple "skip to footer" navigation style */
padding: 20px;
}
.mobile-footer-nav li {
display: inline;
padding: 5px 10px;
}
.mobile-footer-nav li a {
color: #333;
}
/* Simple navigation style: comment this out entirely if you want to use the simple "skip to footer" navigation style */
#nav a {
color: #333;
text-decoration: none;
}
#nav a:hover {
text-decoration: underline;
}
#nav li,
#nav ul {
display: inline;
}
#nav li {
padding: 10px;
}
#nav ul li a {
color: #777;
}

/* Product page */
.add-to-box {
background: #fff9de;
border-radius: 10px;
margin: 20px 0;
padding: 10px;
}
.btn-cart {
background: #fc0;
border: none;
border-bottom: 3px #edbe00 solid;
border-radius: 10px;
color: #333;
font-weight: bold;
padding: 2px 5px;
}
.regular-price {
font-size: 150%;
}
.add-to-links li {
display: inline;
}

/* Product list and product grid */
ol.products-list {
list-style-type: none;
}
	.products-list li.item {
	border-bottom: 1px #ccc solid;
	clear: both;
	display: block;
	padding: 40px 20px;
	}
	.products-list .product-image {
	display: block;
	float: left;
	margin-right: 20px;
	}
	.products-list li.item.odd {
	background: #fff9de;
	}
	.toolbar {
	clear: both;
	}
	.pager, 
	.sorter {
	background: #fff9de;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	}
/* Product pager, sorter */

/* Cart, checkout */
.button {
background: #000;
border: none;
border-radius: 5px;
color: #fff;
padding: 5px 10px;
}
	.button:active,
	.button:focus {
	background: #fc0;
	color: #000;
	}
	.button:hover {
	cursor: pointer;
	}
	.button:hover, 
	.button[disabled] {
	opacity: 0.7;
	}
	.btn-checkout {
	background: #fc0;
	color: #000;
	float: right;
	font-weight: bold;
	}

.col-main input, .col-main textarea, .col-main select {
margin-bottom: 20px;
}	
input.input-text, .input-box select {
border: 1px #ccc solid;
border-radius: 5px;
padding: 5px;
}
/* Checkboxes */
.control .input-box {float: left;margin-right: 5px}

.page-title,
#discount-coupon-form,  
.shipping,
.data-table {
margin-bottom: 20px;
}
.discount,
.shipping {
background-color: #fff9De;
border-radius: 10px;
padding: 10px;
}

.data-table,
.cart form {
clear: both;
width: 100%;
}
.data-table th,
.data-table td {
padding: 5px;
vertical-align: top;
}
.data-table thead th {
border-bottom: 1px #ccc solid;
}
.data-table th {
font-weight: bold;
text-align: left;
}
.data-table tbody tr:nth-of-type(even) td {
background: #fff9De;
}
/* OPC */
.opc .step {
background: #fff9De;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
padding: 10px;
}
.opc .section {
clear: both;
margin-bottom: 20px;	
}
.opc .step-title {
background: #777;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
color: #fff;
padding: 10px;
}
.opc .allow .step-title {
background: #333;
}
.opc .active .step-title {
background: #FC0;
color: #333;
}
.opc .active .step-title a,
.opc .active .step-title h2 {
color: #333;
}	
	.step-title h2, .step-title a {
	color: #fff;
	vertical-align: middle;
	}
	.step-title .number {
	background: #fff;
	border-radius: 50%;
	color: #333;
	float: left;
	margin: 0 10px 0 0;
	padding: 0 5px;
	}
	.step-title a {
	float: right;
	}

.wide .input-text {
width: 95%;
}
input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
border: 1px #fc0 solid;
}	
.required em {
color: #C00;
margin-right: 5px;
}
/* Generic sidebar block styles */
.block {
background: #fff9De;
border-radius: 10px;
margin-bottom: 20px;
padding: 10px;
}
	.block .block-title {
	border-bottom: 1px #fc0 solid;
	font-weight: bold;
	margin-bottom: 10px;
	}

.opc-block-progress dt {
font-weight: bold;
}
.opc-block-progress dd {
margin-bottom: 10px;
}
/* Customer accounts */
.col2-set .col-1, 
.col2-set .col-2 {
margin-bottom: 20px; /* Gives some space between columns stacked on top of each other for smaller screens */
}

.messages {
clear: both;
}
.error-msg {
background: #fdf2f2;
border-radius: 10px;
color: #C00;
margin-bottom: 5px;
padding: 5px;
text-align: center;
}
	.col-main .messages ul ul {
	margin: 0;
	}

/* Media queries */


/* Read here about why pixels aren't a great unit to use for media queries: http://blog.cloudfour.com/the-ems-have-it-proportional-media-queries-ftw/ */
@media only screen and (min-width: 50em) { /* 50em = roughly desktop/large tablet screen width */
	.logo {
	float: left;
	}
	.cart-table .product-image,
	.cart-table h2.product-name {
	display: inline;
	float: left;
	margin: 0 20px 20px 0;
	}
		.cart-table h2.product-name a {
		display: block;
		}
		.cart-table tbody td:first-of-type {
		min-width: 350px;
		}
	.mobile-hide {
	display: block;
	}
	.mobile-nav, 
	.mobile-footer-nav {
	display: none;
	}
	.col-main, 
	.col-left, 
	.col-right, 
	.col-wrapper,
	.col-half,
	.col2-set .col-1, 
	.col2-set .col-2 {
	display: inline;
	margin: 1%;
	padding: 2%;
	}
	.col-left, 
	.col-right, 
	.col-wrapper, 
	.col2-right-layout .col-main,
	.col-half,
	.col2-set .col-1, 
	.col2-set .col-2  {
	float: left;
	}
	.col-half,
	.col2-set .col-1, 
	.col2-set .col-2  {
	width: 44%;
	}
	.col-wrapper, 
	.col-main {
	width: 69%;
	}
	.col-left, 
	.col-right {
	width: 19%;
	}
	.col-main {
	float: right;
	}
		
	/* Alter column widths for 3 column layout */
	.col3-layout .col-main {
	width: 60%
	}
	.col3-layout .col-left {
	width: 27%
	}
	
	.col1-layout .col-main {
	float: none;
	width: 94%;
	}
	.customer-account-login .page-title {
	text-align: center;
	}

	
	
	.sorter {
	text-align: right;
	}
	
	/* Drop-down menu styles, adapted from /skin/frontend/base/default/css/styles.css, Magento 1.7 */
	.nav-container {
		padding: 10px;
	}
	#nav { 
		font-size:13px;
		margin:0 auto;
		padding:0 16px;
		width: 100%;
	}
	/* All Levels */
	#nav li {
		position:relative;
		padding: 0;
		text-align:left;
	}
	#nav li.over {
		z-index:998;
	}
	#nav a,
	#nav a:hover {
		display:block;
		line-height:1.3em;
		text-decoration:none;
	}
	#nav span {
		cursor:pointer;
		display:block;
		white-space:nowrap;
	}
	#nav li ul span {
		white-space:normal;
	}	
	/* 0 Level */
	#nav li {
		float:left;
	}
	#nav li.active a {
		color:#d96708;
	}
	#nav a {
		color:#333;
		float:left;
		padding:5px 12px 6px 8px;
		font-weight:bold;
	}
	#nav li.over a,
	#nav a:hover {
		color:#333;
	}
	
	/* 1st Level */
	#nav ul li,
	#nav ul li.active {
		float:none;
		margin:0;
		padding-bottom:1px;
	}
	#nav ul li.last {
		background:#EFEFEF;
		padding-bottom:0;
	}
	
	#nav ul a,
	#nav ul a:hover {
		background:none;
		float:none;
		padding:0;
	}
	#nav ul li a {
		font-weight:normal !important;
	}
	
	/* 2nd Level */
	#nav ul,
	#nav div {
		border:1px solid #CCC;
		position:absolute;
		width:15em;
			top:27px;
			left:-10000px;
	}
	#nav div ul {
		border:none;
		position:static;
		width:auto;
	}
	
	/* 3rd+ Level */
	#nav ul ul,
	#nav ul div {
		top:5px;
	}
	
	#nav ul li a {
		background:#EFEFEF;
	}
	#nav ul li a:hover {
		background:#333;
		color: #FC0;
	}
	#nav ul span,
	#nav ul li.last li span {
		padding:3px 15px 4px 15px;
	}
	
	/* Show menu */
	#nav li ul.shown-sub,
	#nav li div.shown-sub {
		left:0;
		z-index:999;
		}
	#nav li .shown-sub ul.shown-sub,
	#nav li .shown-sub li div.shown-sub {
		left:100px; 
	}

		
}

/* Clears (from default/default styles.css) ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
.header .quick-access:after,
#nav:after,
.main:after,
.footer:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col3-layout .product-options-bottom .price-box:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */